/* Elements */
li {
    padding: 12px;
}

header {
    background-color: #eee;
}


/* Bootstrap Modifications*/
/* Header */
.nav-link img {
    height: 56px;
}

/* Body */

.carousel-caption {
    top: 50%;
    bottom: 50%;
}

.carousel-caption h6 {
    margin-top: 100px;
}

.carousel-item {
    max-height: 720px;
}



/* Footer */